{{>licenseInfo}}
{{#operations}}
#include "{{classname}}.h"

#include "{{prefix}}Helpers.h"
#include "{{prefix}}HelpersJson.h"
#include "{{prefix}}HelpersString.h"
#include <json/json.h>
#include <memory>
#include <utility>
#include <array>

#include "{{prefix}}HelpersClient.h"

namespace {

}

namespace {{apiNamespace}} {

{{classname}}::{{classname}}(const std::string &address) : mAddress(address) {
    mHttpClient = drogon::HttpClient::newHttpClient(address);
}

{{#operation}}
/// <summary>{{summary}}</summary>
{{#notes}}/// <remarks>{{notes}}</remarks>{{/notes}}

// Synchronous method
{{#vendorExtensions.x-codegen-drogon-is-parsing-supported}}
{{operationId}}Response {{classname}}::{{vendorExtensions.operationIdSnakeCase}}({{#allParams}}
    const {{#isModel}}{{#isOptional}}{{/isOptional}}{{modelNamespace}}::{{/isModel}}{{{dataType}}}& {{#isHeaderParam}}header_{{/isHeaderParam}}{{#isQueryParam}}query_{{/isQueryParam}}{{#isPathParam}}path_{{/isPathParam}}{{paramName}}{{^-last}}, {{/-last}}
{{/allParams}})
{
    // Prepare the request
    auto req = drogon::HttpRequest::newHttpRequest();
    req->setMethod(drogon::HttpMethod::{{httpMethod}});


    // path manipulation
    std::string pathWithoutQuery = "{{{vendorExtensions.x-codegen-path-without-query}}}";
    {{#hasPathParams}}auto pathParams = std::to_array<std::pair<std::string, std::string>>({ {{#pathParams}}{{#isPathParam}}{"{{paramName}}", {{helpersNamespace}}::toStringValue(path_{{paramName}})}{{^-last}}, {{/-last}}{{/isPathParam}}{{/pathParams}} });{{/hasPathParams}}
    {{^hasPathParams}}std::array<std::pair<std::string, std::string>, 0> pathParams{};{{/hasPathParams}}
    {{#hasQueryParams}}auto queryParams = std::to_array<std::pair<std::string, std::string>>({ {{#queryParams}}{{#isQueryParam}}{"{{paramName}}", {{helpersNamespace}}::toStringValue(query_{{paramName}})}{{^-last}}, {{/-last}}{{/isQueryParam}}{{/queryParams}} }); {{/hasQueryParams}}
    {{^hasQueryParams}}std::array<std::pair<std::string, std::string>, 0> queryParams{}; {{/hasQueryParams}}
    auto pathFormatted = {{helpersNamespace}}::formatClientPath(pathWithoutQuery, pathParams, queryParams);
    req->setPath(pathFormatted);


    auto [result, response] = mHttpClient->sendRequest(req);
    if (result == drogon::ReqResult::Ok)
    {
        try
        {
            auto parsed = {{helpersNamespace}}::toVariantResponse<{{operationId}}Response>(response);
            return parsed;
        }
        catch (const std::exception &e)
        {
            //???
        }
    }
}
{{/vendorExtensions.x-codegen-drogon-is-parsing-supported}}

// Asynchronous method
{{#vendorExtensions.x-codegen-drogon-is-parsing-supported}}
using {{operationId}}Callback = std::function<void (const {{operationId}}Response&)>;
void {{classname}}::{{vendorExtensions.operationIdSnakeCase}}({{#allParams}}
    const {{#isModel}}{{#isOptional}}{{/isOptional}}{{modelNamespace}}::{{/isModel}}{{{dataType}}}& {{#isHeaderParam}}header_{{/isHeaderParam}}{{#isQueryParam}}query_{{/isQueryParam}}{{#isPathParam}}path_{{/isPathParam}}{{paramName}}{{^-last}}, {{/-last}}
{{/allParams}}{{#hasParams}}, {{/hasParams}}
{{operationId}}Callback&& callback)
{
    // Prepare the request
    auto req = drogon::HttpRequest::newHttpRequest();
    req->setMethod(drogon::HttpMethod::{{httpMethod}});
    req->setPath("{{{vendorExtensions.x-codegen-path-complete}}}");
    mHttpClient->sendRequest(req, [callback](drogon::ReqResult result, const drogon::HttpResponsePtr& response)
        {
            if (result == drogon::ReqResult::Ok)
            {
                try
                {
                    auto parsed = {{helpersNamespace}}::toVariantResponse<{{operationId}}Response>(response);
                    callback(parsed);
                }
                catch (const std::exception &e)
                {
                    //???
                }
            }
        }
    );
}
{{/vendorExtensions.x-codegen-drogon-is-parsing-supported}}

/*--------------------------------------------------------------*/
{{/operation}}

} // namespace {{apiNamespace}}
{{/operations}}
