{{>licenseInfo}}
{{#operations}}/*
* {{classname}}.h
*/
#ifndef {{classname}}_H_
#define {{classname}}_H_

{{{defaultInclude}}}
#include <drogon/HttpController.h>
#include <drogon/drogon.h>

#include <functional>
#include <memory>
#include <string>

#include "{{classname}}Response.h"

{{#imports}}{{{import}}}
{{/imports}}

namespace {{apiNamespace}} {

class {{declspec}} {{classname}} {
public:
    public:
    explicit {{classname}}(const std::string &adress);

    {{#operation}}
    /**
     * @brief Synchronous method :{{summary}}
     * @details {{#notes}}{{notes}}{{/notes}}
     *
     * @return {{operationId}}Response
     */
    {{#vendorExtensions.x-codegen-drogon-is-parsing-supported}}
    {{operationId}}Response {{vendorExtensions.operationIdSnakeCase}}({{#allParams}}
        const {{#isModel}}{{#isOptional}}{{/isOptional}}{{modelNamespace}}::{{/isModel}}{{{dataType}}}& {{#isHeaderParam}}header_{{/isHeaderParam}}{{#isQueryParam}}query_{{/isQueryParam}}{{#isPathParam}}path_{{/isPathParam}}{{paramName}}{{^-last}}, {{/-last}}
    {{/allParams}});
    {{/vendorExtensions.x-codegen-drogon-is-parsing-supported}}



    {{#vendorExtensions.x-codegen-drogon-is-parsing-supported}}
    using {{operationId}}Callback = std::function<void (const {{operationId}}Response&)>;
    /**
     * @brief Asynchronous method :{{summary}}
     * @details {{#notes}}{{notes}}{{/notes}}
     *
     * @return {{operationId}}Response
     */
    void {{vendorExtensions.operationIdSnakeCase}}({{#allParams}}
        const {{#isModel}}{{#isOptional}}{{/isOptional}}{{modelNamespace}}::{{/isModel}}{{{dataType}}}& {{#isHeaderParam}}header_{{/isHeaderParam}}{{#isQueryParam}}query_{{/isQueryParam}}{{#isPathParam}}path_{{/isPathParam}}{{paramName}}{{^-last}}, {{/-last}}
    {{/allParams}}{{#hasParams}}, {{/hasParams}}
    {{operationId}}Callback&& callback);
    {{/vendorExtensions.x-codegen-drogon-is-parsing-supported}}

    /*--------------------------------------------------------------*/
    {{/operation}}

private:

    drogon::HttpClientPtr mHttpClient;
    std::string mAddress;
};

} // namespace {{apiNamespace}}

#endif /* {{classname}}_H_ */
{{/operations}}
