{{>licenseInfo}}
{{#operations}}
#include "{{classname}}.h"

#include "{{prefix}}Helpers.h"
#include "{{prefix}}HelpersJson.h"
#include <json/json.h>
#include <memory>
#include <utility>

#include "{{prefix}}HelpersClient.h"

namespace {

}

namespace {{apiNamespace}} {

{{classname}}::{{classname}}(const std::string &address) : mAddress(address) {
    mHttpClient = drogon::HttpClient::newHttpClient(address);
}

{{#operation}}
/// <summary>{{summary}}</summary>
{{#notes}}/// <remarks>{{notes}}</remarks>{{/notes}}

// Synchronous method
{{#vendorExtensions.x-codegen-drogon-is-parsing-supported}}
{{operationId}}Response {{classname}}::{{vendorExtensions.operationIdSnakeCase}}({{#allParams}}
    const {{#isModel}}{{#isOptional}}{{/isOptional}}{{modelNamespace}}::{{/isModel}}{{{dataType}}}& {{#isHeaderParam}}header_{{/isHeaderParam}}{{#isQueryParam}}query_{{/isQueryParam}}{{#isPathParam}}path_{{/isPathParam}}{{paramName}}{{^-last}}, {{/-last}}
{{/allParams}})
{
    // Prepare the request
    auto req = drogon::HttpRequest::newHttpRequest();
    req->setMethod(drogon::HttpMethod::{{httpMethod}});
    auto path = "{{{vendorExtensions.x-codegen-path-complete}}}";
    auto pathFormatted = {{helpersNamespace}}::formatClientPath(path {{#allParams}}
    {{^isModel}},{{#isHeaderParam}}header_{{/isHeaderParam}}{{#isQueryParam}}query_{{/isQueryParam}}{{#isPathParam}}path_{{/isPathParam}}{{paramName}}{{/isModel}}{{/allParams}});
    req->setPath(pathFormatted);
    auto [result, response] = mHttpClient->sendRequest(req);
    if (result == drogon::ReqResult::Ok)
    {
        try
        {
            auto parsed = {{helpersNamespace}}::toVariantResponse<{{operationId}}Response>(response);
            return parsed;
        }
        catch (const std::exception &e)
        {
            //???
        }
    }
}
{{/vendorExtensions.x-codegen-drogon-is-parsing-supported}}

// Asynchronous method
{{#vendorExtensions.x-codegen-drogon-is-parsing-supported}}
using {{operationId}}Callback = std::function<void (const {{operationId}}Response&)>;
void {{classname}}::{{vendorExtensions.operationIdSnakeCase}}({{#allParams}}
    const {{#isModel}}{{#isOptional}}{{/isOptional}}{{modelNamespace}}::{{/isModel}}{{{dataType}}}& {{#isHeaderParam}}header_{{/isHeaderParam}}{{#isQueryParam}}query_{{/isQueryParam}}{{#isPathParam}}path_{{/isPathParam}}{{paramName}}{{^-last}}, {{/-last}}
{{/allParams}}{{#hasParams}}, {{/hasParams}}
{{operationId}}Callback&& callback)
{
    // Prepare the request
    auto req = drogon::HttpRequest::newHttpRequest();
    req->setMethod(drogon::HttpMethod::{{httpMethod}});
    req->setPath("{{{vendorExtensions.x-codegen-path-complete}}}");
    mHttpClient->sendRequest(req, [callback](drogon::ReqResult result, const drogon::HttpResponsePtr& response)
        {
            if (result == drogon::ReqResult::Ok)
            {
                try
                {
                    auto parsed = {{helpersNamespace}}::toVariantResponse<{{operationId}}Response>(response);
                    callback(parsed);
                }
                catch (const std::exception &e)
                {
                    //???
                }
            }
        }
    );
}
{{/vendorExtensions.x-codegen-drogon-is-parsing-supported}}

/*--------------------------------------------------------------*/
{{/operation}}

} // namespace {{apiNamespace}}
{{/operations}}
