{{>licenseInfo}}
{{#operations}}

#include "{{classname}}Impl.h"

namespace {{apiNamespace}}
{

{{#operation}}
/* ------------------------------------------------------------------ */
/*  {{operationId}}                                                   */
/* ------------------------------------------------------------------ */
void {{classname}}Impl::{{vendorExtensions.operationIdSnakeCase}}(
    {{#allParams}}
    const {{{dataType}}} &{{#isHeaderParam}}header_{{/isHeaderParam}}{{#isQueryParam}}query_{{/isQueryParam}}{{#isPathParam}}path_{{/isPathParam}}{{paramName}}{{^-last}}, {{/-last}}
    {{/allParams}}{{#hasParams}}, {{/hasParams}}
    {{operationId}}Response &response)
{
    /* TODO: business logic.                                             *
     * Replace the placeholder below with real handling.                 */

    response = std::integral_constant<
        drogon::HttpStatusCode,
        drogon::k501NotImplemented>{};
}
{{/operation}}

} /* namespace {{apiNamespace}} */

{{/operations}}
