{{>licenseInfo}}

{{#operations}}/*
 * {{classname}}Impl.h  –  concrete implementation of {{classname}}Interface
 *
 * {{description}}
 */
#ifndef {{classnameSnakeUpperCase}}_IMPL_H_
#define {{classnameSnakeUpperCase}}_IMPL_H_

/* ----------------------------------------------------------------------
 *  Includes
 * -------------------------------------------------------------------- */
{{{defaultInclude}}}
#include <drogon/HttpTypes.h>
#include <memory>
#include <optional>

#include "{{classname}}Interface.h"    /* generated abstract interface */

{{#imports}}{{{import}}}
{{/imports}}

namespace {{apiNamespace}}
{

{{#hasModelImport}}
using namespace {{modelNamespace}};     /* DTO namespace (optional) */
{{/hasModelImport}}

/* ======================================================================
 *  Concrete service class
 * ==================================================================== */
class {{declspec}} {{classname}}Impl final : public {{classname}}Interface
{
public:
    {{classname}}Impl()  = default;
    ~{{classname}}Impl() override = default;

{{#operation}}
    /* ------------- {{operationId}} ------------- */
    void {{vendorExtensions.operationIdSnakeCase}}(
        {{#allParams}}
        const {{{dataType}}} &{{#isHeaderParam}}header_{{/isHeaderParam}}{{#isQueryParam}}query_{{/isQueryParam}}{{#isPathParam}}path_{{/isPathParam}}{{paramName}}{{^-last}}, {{/-last}}
        {{/allParams}}{{#hasParams}}, {{/hasParams}}
        {{operationId}}Response &response
    ) override;
{{/operation}}
};

} /* namespace {{apiNamespace}} */

{{/operations}}
#endif /* {{classnameSnakeUpperCase}}_IMPL_H_ */
