{{>licenseInfo}}
{{#operations}}/*
* {{classname}}Interface.h
*/
#ifndef {{classnameSnakeUpperCase}}_INTERFACE_H_
#define {{classnameSnakeUpperCase}}_INTERFACE_H_

{{{defaultInclude}}}
#include <cstdint>
#include <functional>
#include <optional>
#include <tuple>
#include <utility>
#include <variant>
#include <drogon/HttpTypes.h>
#include <type_traits>

#include "{{classname}}Response.h"

{{#imports}}
{{{import}}}
{{/imports}}

namespace {{apiNamespace}} {

class {{declspec}}{{classname}}Interface {
public:

virtual ~{{classname}}Interface() = default;

/* ---------- abstract operations ---------- */
{{#operation}}
/// <summary>{{summary}}</summary>
{{#notes}}/// <remarks>{{notes}}</remarks>{{/notes}}
{{#vendorExtensions.x-codegen-drogon-is-parsing-supported}}
virtual {{operationId}}Response {{vendorExtensions.operationIdSnakeCase}}({{#allParams}}
    const {{#isModel}}{{#isOptional}}{{/isOptional}}{{modelNamespace}}::{{/isModel}}{{{dataType}}}& {{#isHeaderParam}}header_{{/isHeaderParam}}{{#isQueryParam}}query_{{/isQueryParam}}{{#isPathParam}}path_{{/isPathParam}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}) = 0;
{{/vendorExtensions.x-codegen-drogon-is-parsing-supported}}

{{^vendorExtensions.x-codegen-drogon-is-parsing-supported}}
virtual void {{vendorExtensions.operationIdSnakeCase}}(
    const drogon::HttpRequestPtr& req,
    std::function<void (const drogon::HttpResponsePtr &)> &&callback{{#pathParams}}, const {{{dataType}}}& path_{{paramName}}{{/pathParams}},
    {{operationId}}Response& response) = 0;
{{/vendorExtensions.x-codegen-drogon-is-parsing-supported}}

/*--------------------------------------------------------------*/
{{/operation}}
};

} // namespace {{apiNamespace}}

#endif /* {{classnameSnakeUpperCase}}_INTERFACE_H_ */
{{/operations}}
